body{
  display: grid;
  grid-template-rows:  80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

h1{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
}

#VG{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

#GS{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

#POMH{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}

#lol{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}

#minecraft{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}

#rust{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}

#{
  grid-row-start: ;
  grid-row-end: ;
  grid-column-start: ;
  grid-column-end: ;
  justify-self: center;
}

img{
  max-width: 500px;
  height: auto;
}

/*
body{
color: deeppink
}
*/